body { 
		


* { 	font-family: 'Helvetica', sans-serif;
		}
        {color: white}
    }


.container {
	padding-left: 20px;
	padding-right: 20px;
}

#top { padding-top: 100px;
	}

#bottom, #top {background-color: black;}

#middle {padding-top: 40px;
		 padding-bottom: 40px;
		 }
.imageText {
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 126px;
    font-size: 185%;
    text-shadow: 3px 3px 5px black;
}
@media (min-width: 768px){
.container {
    width: 100%!important;
}
.imageText {
    color: white;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 220px;
    font-size: 185%;
    text-shadow: 3px 3px 5px black;
}
}
@media (min-width: 992px){
.container {
    width: 100%!important;
}
}
